<h1>Project <%= @project.name %></h1>

Add <%= link_to("photos", new_project_photograph_path(@project)) %>

<div class="slider-wrapper theme-bar">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
              <% @photographs.each do |photo| %>
                <%= image_tag(photo.path, :title => "#{photo.caption}") %>
              <% end %> 

            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                 
            </div>
        </div>


        
        
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({ controlNavThumbs:true });
});
</script>