html, body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	color: #000;
}

.logoName {
	background-color: #000;
	color: #FFF;
	font-size: 0.75em;
	font-weight: 500;
	letter-spacing: 0.4em;
	margin: 0;
	padding: 1px 0;
	text-align: right;
	width: 100%;
}